.services {
    background-color: var(--background-primary-color);
    margin-top:5vh;
    padding:8vh 0;
    text-align:center;
}
.services__intro {
    width: 80vw;
    margin: 0 auto;
}
.services__title {
    font-family: var(--font-special);
    font-weight: var(--font-weight-normal);
    font-size: 2.5rem;
    margin-top:0;
}
.services__box {
    background-color: var(--background-box-color);
    margin: 5vh 10vw;
    padding:1.2rem;
}
.services__box-image {
    display:block;
    width:60vw;
    object-fit: cover;
    margin:0 auto;
}
.services__box-title {
    text-transform: uppercase;
    font-weight: var(--font-weight-thin);
}
.services__box-text {
    padding:1.2rem;
}
.services__info-section {
    background-color: var(--background-box-color);
    padding:2rem 5rem;
}
.services__hypertext {
    color: var(--text-primary-color);
    font-weight: var(--font-weight-semibold);
}
.services__hypertext:hover {
    color:var(--menu-link-hover-color);
}
.services__hypertext:active {
    color:var(--menu-link-active-color);
}

/* "TABLET" */
@media screen and (min-width:600px) {
    .services__box-image {
        width:40vw;
    }
    .services__boxes {
        width: 80vw;
        margin: 0 auto;
    }
    .services__box {
        margin: 2vh;
        padding:1.2rem;
    }
    .services__box-text {
        margin:0;
    }
    .services__info-section {
        margin: 0 auto;
    }
}
/* "PC" */
@media screen and (min-width:1100px) {
    .services__boxes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin:0 auto;
    }
    .services__box {
        height: auto;
        margin:1vw;
    }
    .services__box-image {
        width: 20vw;
        height:20vh;
        object-fit: cover;
    }
    .services__info-section {
        margin-top: 10vh;
    }
}