html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

:root { 
  --font-primary: 'Montserrat', sans-serif; 
  --font-secondary: 'Lora', sans-serif; 
  --font-special: 'Dancing Script', cursive;
  --font-weight-bold: 700;
  --font-weight-semibold: 500;
  --font-weight-thin: 200;
}

:root {
  --background-primary-color:#d9d9d9;
  --background-secondary-color: #3a3232;
  --background-box-color: white;
  --text-primary-color: #3a3232;
  --text-secondary-color: white;
  --link-hover-color: #F4CFD7;
  --menu-background-color: #F4CFD7;
  --menu-link-active-color: white;
  --menu-link-hover-color:black;
  --button-background-color: #f4cfd7;
  }

html {
  font-size:14px;
}
body {
  margin: 0 0 10vh 0;
  font-optical-sizing: auto;
  font-family: var(--font-primary);
  color: var(--text-primary-color);
}
/* lišta kontakt */
.header__contact-bar {
  background-color: var(--background-secondary-color);
  width: 100%;
  height: 5vh;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__contact-item {
  font-family: var(--font-primary);
  color: var(--text-secondary-color);
  text-decoration: none;
  padding-right:1rem;
}
.header__contact-item:hover {
  color: var(--link-hover-color);
  font-weight: var(--font-weight-semibold);
}
.header__contact-icon {
  width: 1.3rem;
  height:1.3rem;
}
/* --- MENU --- */
.header__menu {
  margin: 1.5rem 0;
  padding:0;
  text-align: center;
}
.header__menu-item {
  display: inline-block;
}
.header__menu-link {
  font-family: var(--font-special);
  color: var(--text-primary-color);
  text-align: center;
  text-decoration: none;
  padding: 1.3rem 1.3rem;
  font-size: 1.5rem;
}
.header__menu-link:hover {
  background-color: var(--link-hover-color);
  color:var(--menu-link-hover-color);
}
.header__menu-link:active {
  color:var(--menu-link-active-color);
}
/* pozadí + logo hlavičky */
.header__background-image {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: top;
}
.header__images {
  position:relative;
}
.header__logo {
  width:20vh;
  position:absolute;
  bottom:-5%;
  left:50%;
  transform: translateX(-50%);
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0 grey;
}
.header__title {
  font-family: var(--font-secondary);
  color: var(--text-primary-color);
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
}
/* --- PATIČKA --- */
.footer__bar {
  background-color: var(--background-secondary-color);
  width: 100%;
  height: 5vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  left:0;
  bottom:0;
}
.footer__text {
  font-family: var(--font-primary);
  color: var(--text-secondary-color);
}

/* "TABLET" */
@media screen and (min-width:600px) {
  html {
    font-size:16px;
  }
  .header__images {
    position:relative;
  }
  .header__logo {
    width:25vh;
    position:absolute;
    bottom:-5%;
    left:50%;
    transform: translateX(-50%);
  }
}
/* "PC" */
@media screen and (min-width:1100px) {
  html {
    font-size:18px;
  }
  .header__images {
    position:relative;
  }
  .header__logo {
    width:30vh;
    position:absolute;
    top:-10%;
    left:15%;
  }
}