html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/* 
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight 100 - 900>;
  font-style: normal;

  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
*/
:root { 
  --font-primary: Montserrat, sans-serif; 
  --font-secondary: 'Lora', sans-serif; 
  --font-special: 'Dancing Script', cursive;
  --font-weight-bold: 700;
  --font-weight-semibold: 500;
  --font-weight-thin: 200;
}

:root {
  --background-primary-color:#d9d9d9;
  --background-secondary-color: #3a3232;
  --background-box-color: white;
  --text-primary-color: #3a3232;
  --text-secondary-color: white;
  --link-hover-color: #F4CFD7;
  --menu-background-color: #F4CFD7;
  --menu-link-active-color: white;
  --menu-link-hover-color:black;
  --button-background-color: #f4cfd7;

  }

body {
  margin: 0 0 10vh 0;
  font-optical-sizing: auto;
  font-family: var(--font-primary);
  color: var(--text-primary-color);
  }
.header__contact-bar {
  background-color: var(--background-secondary-color);
  width: 100%;
  height: 5vh;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__contact-item {
  font-family: var(--font-primary);
  color: var(--text-secondary-color);
  text-decoration: none;
  padding-right:2rem;
}
.header__contact-item:hover {
  color: var(--link-hover-color);
  font-weight: var(--font-weight-semibold);
}
.header__contact-icon {
  width: 1.3rem;
  height:1.3rem;
}
.header__background-image {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: top;
}
.header__logo {
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0 grey;
}
.header__title {
  font-family: var(--font-secondary);
  color: var(--text-primary-color);
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
}
.header__menu {
  margin: 1.5rem 0;
  padding:0;
  text-align: center;
}
.header__menu-item {
  display: inline-block;
}
.header__menu-link {
  font-family: var(--font-special);
  color: var(--text-primary-color);
  text-align: center;
  text-decoration: none;
  padding: 1.3rem 1.5rem;
  font-size: 1.8rem;
}
.header__menu-link:hover {
  background-color: var(--link-hover-color);
  color:var(--menu-link-hover-color);
}
.header__menu-link:active {
  color:var(--menu-link-active-color);
}
.footer__bar {
  background-color: var(--background-secondary-color);
  width: 100%;
  height: 5vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  left:0;
  bottom:0;
}
.footer__text {
  font-family: var(--font-primary);
  color: var(--text-secondary-color);
}
/* HOME PAGE */
.main-page {
  background-color: var(--background-primary-color);
  margin:5vh 0;
  padding:10vh 0;
}
.main-page__intro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}
.main-page__img {
  width:20vw;
}
.main-page__title {
  width: 30vw;
  font-weight: var(--font-weight-semibold);
  margin-left:2vw;
}
.main-page__boxes {
  display: grid;
  width: 80vw;
  height: 30vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap:5vw;
  justify-content: space-evenly;
}
.main-page__box {
  color: var(--text-primary-color);
  border: solid 1px black;
  background-color: var(--background-box-color);
}
.main-page__box-title {
  font-family: var(--font-special);
  text-align: center;
  font-weight: 400;
}
.main-page__box-text {
  font-family: var(--font-primary);
  text-align: center;
}
.main-page__box-button {
  background-color: var(--button-background-color);
  font-family: var(--font-secondary);
  border:none;
  padding:0.8rem;
  
}
/* SLUŽBY */


/* "MOBIL" */
@media screen and (max-width:599px) {
  html {
    font-size: 12px;
  }
  .header__images {
    position:relative;
  }
  .header__logo {
    width:20vh;
    position:absolute;
    bottom:-5%;
    left:50%;
    transform: translateX(-50%);
  }
  .header__menu-link {
    padding: 1.3rem 1rem;
    font-size: 1.5rem;
  }

}
/* "TABLET" */
@media screen and (min-width:600px) and (max-width:1099px) {
  html {
    font-size:14px;
  }
  .header__images {
    position:relative;
  }
  .header__logo {
    width:25vh;
    position:absolute;
    bottom:-5%;
    left:50%;
    transform: translateX(-50%);
  }
}
/* "PC" */
@media screen and (min-width:1100px) {
  html {
    font-size:16px;
  }
  .header__images {
    position:relative;
  }
  .header__logo {
    width:30vh;
    position:absolute;
    top:-10%;
    left:5%;
  }
}

  